body 
{
     padding:0px;
	margin:0px;
 
}
.h1
{
    position:center;
   
    }
    .d1
{
    border-top-left:25px;
      border-radius:25px;
      border-bottom-right-redius:25px;
      border-bottom-left-redius:25px;
     
 }
 
    .enlarge
 {
 font-size:12.5px;
 font-family:Arial,sans-serif;
 }
 .fed
   {
       align:center;
       text-align:center;
     
   }
  
 
 